*.pyc
data/
__pycache__/
checkpoints/unet_00
checkpoints/unet_01
checkpoints/unet_02
checkpoints/unet_03
checkpoints/unet_05
checkpoints/unet_06
checkpoints/unet_07
checkpoints/unet_08
checkpoints/unet_09
checkpoints/unet_10
checkpoints/unet_11
checkpoints/unet_12
checkpoints/unet_13
checkpoints/unet_14
checkpoints/unet_15
checkpoints/unet_16
checkpoints/AED-Unet_0
checkpoints/AED-Unet_1
checkpoints/AED-Unet_2
checkpoints/AED-Unet_3
checkpoints/AED-Unet_4
checkpoints/AED-Unet_5
checkpoints/AED-Unet_6
checkpoints/AED-Unet_7
checkpoints/AED-Unet_8
checkpoints/AED-Unet_9
checkpoints/AED-Unet_10
checkpoints/AED-Unet_11
checkpoints/AED-Unet_12
checkpoints/AED-Unet_14
checkpoints/AED-Unet_15
checkpoints/AED-Unet_16
checkpoints/AED-Unet_17
checkpoints/AED-Unet_18
checkpoints/AED-Unet_20
checkpoints/AED-Unet_21
checkpoints/AED-Unet_22
*.pth
*.jpg
venv/
.idea/
wandb/
data_o/
data_older/
test_results/
logs/
inference_results/