*.pyc
data/
__pycache__/
checkpoints/unet_00
checkpoints/unet_01
checkpoints/unet_02
checkpoints/unet_03
checkpoints/unet_05
checkpoints/unet_06
checkpoints/unet_07
checkpoints/unet_08
checkpoints/unet_09
checkpoints/unet_10
checkpoints/unet_11
checkpoints/unet_12
checkpoints/unet_13
checkpoints/unet_14
checkpoints/unet_15
checkpoints/unet_16
checkpoints/ADE-Unet_0
checkpoints/ADE-Unet_1
checkpoints/ADE-Unet_2
checkpoints/ADE-Unet_3
checkpoints/ADE-Unet_4
checkpoints/ADE-Unet_5
checkpoints/ADE-Unet_6
checkpoints/ADE-Unet_7
checkpoints/ADE-Unet_8
checkpoints/ADE-Unet_9
checkpoints/ADE-Unet_10
checkpoints/ADE-Unet_11
checkpoints/ADE-Unet_12
checkpoints/ADE-Unet_14
checkpoints/ADE-Unet_15
checkpoints/ADE-Unet_16
checkpoints/ADE-Unet_17
checkpoints/ADE-Unet_18
checkpoints/ADE-Unet_20
checkpoints/ADE-Unet_21
checkpoints/ADE-Unet_22
*.pth
*.jpg
venv/
.idea/
wandb/
data_o/
data_older/
test_results/
logs/
inference_results/